<h1>Dog Breeds</h1>
<div class="row">
  <% @breeds.each do |breed| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <% if breed.image_url.present? %>
          <%= image_tag(breed.image_url, class: "card-img-top") %>
        <% end %>
        <div class="card-body">
          <h5><%= link_to breed.name, breed_path(breed) %></h5>
          <p><%= truncate(breed.description, length: 100) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @breeds %>

